<%= form_with model: article do |form|%>
    <div class="form-control">
        <%= form.label :title %><br />
        <%= form.text_field :title %>
        <% if article.errors[:title].any? %>
            <div class="text-danger">
                <%= article.errors[:title].join(", ") %>
            </div>
        <% end %>
    </div>
    
    <div class="form-control">
        <%= form.label :body %><br />
        <%= form.text_area :body %>
        <% if article.errors[:body].any? %>
            <div class="text-danger"> 
                <%= article.errors[:body].join(", ") %> 
            </div>
        <% end %>
    </div>

    <div class="form-control">
        <%= form.submit class: "btn btn-outline-primary"%>
    </div>
    <div class="form-control">
        <%= link_to "Back-to-articles", root_path,class: "btn btn-outline-primary"%>
    </div>

<% end %>

<style>
    
    .container{
        width: 60%;
        margin-top: 3%;
        padding: 1% 0 2% 0%;
        border-radius: 6px;
        box-shadow: 1px 1px 5px black;
        background: linear-gradient(to right bottom, lightgray, rgb(230, 240, 243), rgb(230, 240, 243),  rgb(247, 206, 206));
    }
    h1{
        color: darkcyan;
        text-align: center;
    }
    .form-control{
        background-color: transparent;
        border: none;   
        padding-left: 10%;
    }
    .btn{
        margin-top: 8px;
    }
    
    label{
        font-family: cursive;
        font-size: 18px;
        color: #333;        
    }
    input, textarea, .btn{
        width: 90%;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 1px 1px 5px black;
        padding: 5px 15px;
        font-size: 18px;
        font-family: cursive;
    }
    input, textarea{
        background-color:  transparent;
        color: #333;
        transition: 0.3s;  
    }

    input:focus, textarea:focus{
        padding: 6px 20px;
    }
</style>