<div class="container cover my-5 p-5 bg-light rounded">
    <div class="container d-flex justify-content-between align-items-center">
        <h1>Articles</h1>
        <%= link_to "New Article", new_article_path, class: "btn btn-outline-secondary" %>
    </div>
    <div class="row">
        <% @articles.each do |article|%>
            <div class="col-4  ">
                <div class="container cardcha mb-3 py-2 rounded">
                    <h3> <%= article.title%> </h3>  
                    <p><%= article.body%></p>
                    <div class="container d-flex justify-content-end align-items-center gap-1 py-1 mx-1">
                        <%= link_to "View", article, class: 'btn btn-outline-primary py-1'%>
                        <%= link_to "Edit", edit_article_path(article), class: 'btn btn-outline-success py-1'%>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>



<style>
    .cover{
        box-shadow: 1px 1px 5px black;
    }
    .d-flex{
        padding-bottom: 2rem;
    }
    .cardcha{
        background: linear-gradient(to right bottom, lightgray, lightblue );
        box-shadow: 1px 1px 6px black;
        width: 103%;
    }
</style>


