<h1>New Article</h1>

<%= form_with modle: @article do |form|%>   

    <div class="form-control">
        <%= form.label :title %>
        <%= form.text_filed :title %>
    </div>

    <div class="form-control">
        <%= form.label :body %>
        <%= form.textarea :body%>
    </div>

    <div class="form-control">
        <%= form.submit %>
    </div>

<% end %>
